.advantages-section {
  padding-top: 50px;
  @include media-breakpoint-up(xl) {
    padding-top: 200px;
  }
}
.advantages-title-holder {
  display: flex;
  justify-content: center;
  @include media-breakpoint-up(xl) {
    justify-content: start;
  }
}
.advantages-title-box {
  display: inline-block;
  position: relative;
  max-width: 400px;
  padding: 12px 56px;
  border-radius: 50px;
  background-color: $primary-light;
  text-align: center;
  @include media-breakpoint-up(sm) {
    padding: 22px 92px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 570px;
    padding: 24px 100px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: $secondary-light;
    @include media-breakpoint-up(sm) {
      width: 68px;
      height: 68px;
    }
    @include media-breakpoint-up(lg) {
      width: 86px;
      height: 86px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: $secondary-light;
    @include media-breakpoint-up(sm) {
      width: 68px;
      height: 68px;
    }
    @include media-breakpoint-up(lg) {
      width: 86px;
      height: 86px;
    }
  }
}
.advantages-list-wraper {
  position: relative;
}
.advantages-list {
  padding-top: 20px;
}
.advantages-item {
  display: flex;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
    padding-top: 130px;
  }
}
.advantages-item-gl {
  @include media-breakpoint-up(lg) {
    justify-content: end;
  }
}
.advantages-number {
  margin: 0;
  background: linear-gradient(0deg, white 20%, #fcba32 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 120px;
  font-weight: 700;
  @include media-breakpoint-up(lg) {
    background: linear-gradient(0deg, white 30%, #fcba32 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @include media-breakpoint-up(xxl) {
    background: linear-gradient(0deg, white 44%, #fcba32 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.advantages-text {
  position: relative;
  top: 46px;
  left: -40px;
  max-width: 400px;
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  @include media-breakpoint-up(lg) {
    top: 96px;
    left: -48px;
    max-width: 530px;
    font-size: 24px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 32px;
  }
}
.advantages-background {
  display: none;
  @include media-breakpoint-up(xl) {
    display: inline-block;
    position: absolute;
    top: 234px;
    right: 516px;
    width: 460px;
  }
  @include media-breakpoint-up(xxl) {
    top: 150px;
    right: 508px;
    width: 802px;
  }
}
