.hero-section {
  padding-top: 85px;
  background-color: #afafaf;
  background-image: url(../img/background-hero.jpg);
  background-size: cover;
  @include media-breakpoint-up(xl) {
    padding-top: 170px;
  }
}
.hero-title-holder {
  max-width: 280px;
  @include media-breakpoint-up(lg) {
    max-width: 350px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 810px;
  }
}
.hero-content {
  padding-top: 20px;
  @include media-breakpoint-up(xl) {
    padding-top: 130px;
  }
  :first-child {
    font-size: 16px;
    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
  }
  :last-child {
    max-width: 200px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    @include media-breakpoint-up(lg) {
      max-width: 300px;
    }
    @include media-breakpoint-up(xl) {
      max-width: 480px;
      font-size: 32px;
    }
  }
}
.hero-button-holder {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 50px;
  @include media-breakpoint-up(sm) {
    justify-content: start;
    padding-bottom: 240px;
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 300px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 450px;
  }
}
.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 40px;
  border-radius: 20px;
  background-color: #fcba32;
  font-size: 16px;
  @include media-breakpoint-up(xl) {
    font-size: 20px;
  }
}
