.cooperation-title-holder {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 20px;
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  @include media-breakpoint-up(xl) {
    justify-content: start;
    padding-top: 200px;
    padding-bottom: 100px;
  }
}
.cooperation-title-box {
  display: inline-block;
  position: relative;
  max-width: 400px;
  padding: 12px 85px;
  border-radius: 50px;
  background-color: $neutraydark;
  text-align: center;
  @include media-breakpoint-up(sm) {
    padding: 22px 115px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 570px;
    padding: 25px 140px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 475px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: $neutral;
    @include media-breakpoint-up(sm) {
      width: 68px;
      height: 68px;
    }
    @include media-breakpoint-up(lg) {
      width: 86px;
      height: 86px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: $neutral;
    @include media-breakpoint-up(sm) {
      width: 68px;
      height: 68px;
    }
    @include media-breakpoint-up(lg) {
      width: 86px;
      height: 86px;
    }
  }
}
.cooperation-slider {
  .slick-track {
    display: flex;
  }
  .slick-slide {
    display: flex;
    justify-content: center;
    height: inherit;
  }
}
.cooperation-slider-item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 542px;
  height: 100%;
  padding: 50px 28px;
  border: 5px solid $secondary-light;
  border-radius: 20px;
}
.cooperation-slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.cooperation-slider-title-wrapper {
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
  &:before {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: $primary;
    @include media-breakpoint-up(sm) {
      display: inline-block;
    }
  }
  &:after {
    content: '';
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: $primary;
    @include media-breakpoint-up(sm) {
      display: inline-block;
    }
  }
}
.cooperation-slider-title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  @include media-breakpoint-up(sm) {
    text-align: start;
  }
  @include media-breakpoint-up(lg) {
    font-size: 21px;
  }
}
.cooperation-slider-img {
  padding-bottom: 30px;
  border-radius: 50px;
}
.cooperation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 54px;
  border-radius: 76px;
  color: white;
}
.cooperation-button-1 {
  border: 3px solid $neutral-light;
  background: $primary;
}
.cooperation-button-2 {
  border: 3px solid $secondary-light;
  background: $primary-light;
}
.cooperation-button-3 {
  border: 3px solid $neutral;
  background: $neutraydark;
}
.cooperation-slider .slick-arrow {
  display: none !important;
}
.cooperation-slider .slick-dots {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & li {
    display: inline-block;
    padding: 5px;
  }
  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.5;
    background-color: $primary-light;
    font-size: 0;
  }
  /* stylelint-disable-next-line selector-max-compound-selectors */
  .slick-active button {
    width: 15px;
    height: 15px;
    opacity: 1;
  }
}
