header.header
  .container
    .row
      .logo-holder.col-6.col-lg-2
        a.logo-holder(aria-label='logo' href='')
          img(src='./img/logo.svg' alt='')
      nav.header-nav.col-lg-6
        ul.header-nav__list.playn-text.d-flex
          li.header-nav__item
            a.header-nav__link(href='') Video
          li.header-nav__item
            a.header-nav__link(href='') About Method
          li.header-nav__item
            a.header-nav__link(href='') About School
          li.header-nav__item
            a.header-nav__link(href='') Price
          li.header-nav__item
            a.header-nav__link(href='') Revievs
      .mobile-menu-holder.col-6.d-flex.col-lg-4
        .dropdown-language.playn-text
          button.language-buttonbtn.btn-secondary.dropdown-toggle(aria-label='language' type='button' data-bs-toggle='dropdown' aria-expanded='false')
            span EN
            svg.icon-vector
              use(xlink:href='#vector')
          ul.language-list.dropdown-menu
            li.language-item
              a.language-link(href='') UA
            li.language-item
              a.language-link(href='') EN
            li.language-item
              a.language-link(href='') PL
        .dropdown-call
          button.playn-text.main-button.coll-button-xl.btn-secondary.dropdown-toggle(aria-label='language' type='button' data-bs-toggle='dropdown' aria-expanded='false')
            span Сontacts
          button.coll-button.btn-secondary.dropdown-toggle(aria-label='language' type='button' data-bs-toggle='dropdown' aria-expanded='false')
            svg.icon-viber
              use(xlink:href='#viber')
          ul.tel-list.dropdown-menu
            li.tel-list__item
              a.tel-list__link(href='tel: +38000000000') +38000000000
            li.tel-list__item
              a.tel-list__link(href='tel: +38000000000') +38000000000
            li.tel-list__item
              a.tel-list__link(href='tel: +38000000000') +38000000000
        .dropdown-nav
          button.menu-button.btn-secondary.dropdown-toggle(aria-label='language' type='button' data-bs-toggle='dropdown' aria-expanded='false')
            svg.icon-burger
              use(xlink:href='#burger')
          ul.dropdown-nav__list.playn-text.dropdown-menu
            li.dropdown-nav__item
              a.dropdown-nav__link(href='') Video
            li.dropdown-nav__item
              a.dropdown-nav__link(href='') About Method
            li.dropdown-nav__item
              a.header-nav__link(href='') About School
            li.dropdown-nav__item
              a.dropdown-nav__link(href='') Price
            li.dropdown-nav__item
              a.dropdown-nav__link(href='') Revievs
