section
  .container
    .about-methot-title-holder
          .about-methot-title-box
            h2.title-2 Аbout methot
  .container
    .row
      .about-methot-holder.col-xl-6
        .about-methot-text-wraper
          h3.about-methot-title Mental math
          p.about-methot-text
            | It is a quick mental counting technique that rapidly develops the mental abilities and intelligence of a child from 5 to 14 years old. 
            | The learning process is carried out on special Japanese accounts Abacus
            | While learning, the child trains - fine motor skills, logic, concentration, photographic memory, speed of thinking. These skills will be needed throughout the child's life.
            | The brain simulator is an interesting game for a child, where intelligence and the ability to instantly process information are pumped as a "bonus"
          ul.statistics-wraper
            li.statistics
              span.statistics__value 155000
              span.statistics__text children
            li.statistics
              span.statistics__value 18
              span.statistics__text countries
            li.statistics
              span.statistics__value 273
              span.statistics__text cities
      .accordion-wraper.col-xl-6
        include ../../html/accordion.html
