section.advantages-section
  .container
    .advantages-title-holder
      .advantages-title-box
        h2.title-2 What are our advantages?
    ul.advantages-list.row
      li.advantages-item.col-sm-8.col-lg-6.col-xl-4.offset-sm-2.offset-lg-0
        p.advantages-number 1
        p.advantages-text
          | Access to the IT platform The online platform 
          | makes learning interesting and productive
      li.advantages-item.col-sm-8.col-lg-6.col-xl-4.offset-sm-2.offset-lg-0
        p.advantages-number 2
        p.advantages-text
          | Our classes are interactive
          | Teachers use modern tools, original exercises and tasks, 
          | so children are happy to study. Education is built in the form of a game
      li.advantages-item.col-sm-8.col-lg-6.col-xl-4.offset-sm-2.offset-lg-0.offset-xl-4
        p.advantages-number 3
        p.advantages-text
          | Experienced teachers. They have experience working with children. 
          | Our teachers are professionals who love their job and find an individual 
          | approach to each child
      li.advantages-item.col-sm-8.col-lg-6.col-xl-4.offset-sm-2.offset-lg-0.offset-xl-4
        p.advantages-number 4
        p.advantages-text
          | We organize annual Olympiads, and also 
          | take part in other Olympiads
