section.benefits-section
  .container
    .benefits-title-holder
      .benefits-title-box
        h2.title-2 What are the benefits of practicing mental arithmetic?
    ul.benefits-list
      li.benefits-list__item
        .icon-wraper.icon-wraper--1
          svg.benefits-icon
            use(xlink:href='#imaginative-thinking-icon')
        p.benefits-list__text Develops logical and imaginative thinking
      li.benefits-list__item
        .icon-wraper.icon-wraper--2
          svg.benefits-icon
            use(xlink:href='#memory-icon')
        p.benefits-list__text Develops memory
      li.benefits-list__item
        .icon-wraper.icon-wraper--3
          svg.benefits-icon
            use(xlink:href='#languages-icon')
        p.benefits-list__text  Children learn foreign languages quickly
      li.benefits-list__item
        .icon-wraper.icon-wraper--4
          svg.benefits-icon
            use(xlink:href='#performance-icon')
        p.benefits-list__text Improve overall school performance
      li.benefits-list__item
        .icon-wraper.icon-wraper--5
          svg.benefits-icon
            use(xlink:href='#concentrate-icon')
        p.benefits-list__text Develops child’s ability to concentrate
      li.benefits-list__item
        .icon-wraper.icon-wraper--6
          svg.benefits-icon
            use(xlink:href='#speed-thinking-icon')
        p.benefits-list__text Increases the speed of thinking
      li.benefits-list__item
        .icon-wraper.icon-wraper--7
          svg.benefits-icon
            use(xlink:href='#decisions-icon')
        p.benefits-list__text Improve the ability to quickly make the right decisions
      li.benefits-list__item
        .icon-wraper.icon-wraper--8
          svg.benefits-icon
            use(xlink:href='#leadership-icon')
        p.benefits-list__text Improve self-confidence and leadership skills
