section.cities-section
  .container
    .cities-title-holder.cities-title-holder-sm
      .cities-title-box
        h2.title-2 What cities do our students study in?
  .cities-box
    .container
      .cities-content-wraper
        .cities-title-holder.cities-title-holder-xl
          .cities-title-box
            h2.title-2 What cities do our students study in?
        form.cities-form(action='')
          .cities-select-wraper
            svg.cities-icon-vector
              use(xlink:href='#vector')
            h3.title-3.w-color.text-align-center Offline
            select.cities-select.secondary-text(name='Offline')
              option(value='city-1') Chelmsford
              option(value='city-2') Bath
          .cities-select-wraper
            svg.cities-icon-vector
              use(xlink:href='#vector')
            h3.title-3.w-color.text-align-center Online
            select.cities-select.secondary-text(name='Online')
              option(value='city-1') Cardiff
              option(value='city-2') Bridgend
              option(value='city-3') Carmarthen
              option(value='city-4') Exeter
              option(value='city-5') Plymouth
              option(value='city-6') Southampton
              option(value='city-7') Reading
              option(value='city-8') London
              option(value='city-9') Oxford
              option(value='city-10') Birmingham
              option(value='city-11') Manchester
              option(value='city-12') Bognor Regis
              option(value='city-13') Mansfield
              option(value='city-14') Erith
              option(value='city-15') Bedford
              option(value='city-16') Dagenham
              option(value='city-17') Pocklington
              option(value='city-18') Croydon
              option(value='city-19') Windsor
      .cities-img-box
        img.cities-img-xl(src='./img/cities-bg-xl.svg' alt='' loading='lazy')
        img.cities-img-sm(src='./img/cities-bg-sm.svg' alt='' loading='lazy')
