section.hero-section
  .container
    .hero-title-holder
      h1.title-1 Mental Math is key factor to your child’s success
    .hero-content
      p.hero-content__minor For children 5-14 years old
      p.hero-content__main International school in  Britain Indigo Mental Club Train
    .hero-button-holder
      button.hero-button Book a FREE Trial Lesson
