section.prise-section
  .container
    .prise-title-holder
      .prise-title-box
        h2.title-2 Prise
    .prise-slider
      .prise-slider-item-wrapepr
        .prise-slider-item
          div
            h3.prise-title Trial free lesson
            ul.prise-list
              li.prise-item 45-60 min lesson (introduction to mental arithmetic).
              li.prise-item 48 hours access to computer platform
              li.prise-item Feedback from the teacher
          .prise-button-wrapper
            button.prise-button book
      .prise-slider-item-wrapepr
        .prise-slider-item
          div
            h3.prise-title 1 month
            ul.prise-list
              li.prise-item 4 lessons of 60 minutes in a mini group
              li.prise-item 24/7 IT platform access for 28 days
              li.prise-item Individual homework assignments for each day
              li.prise-item Motivational system (certificates, gifts)
              li.prise-item Teacher control
          .prise-button-wrapper
            button.prise-button 100£
      .prise-slider-item-wrapepr
        .prise-slider-item
          div
            h3.prise-title 3 month
            ul.prise-list
              li.prise-item 12 lessons of 60 minutes in a mini group
              li.prise-item 24/7 IT platform access for 84 days
              li.prise-item Individual homework assignments for each day
              li.prise-item Motivational system (certificates, gifts)
              li.prise-item Teacher control
          .prise-button-wrapper
            button.prise-button 270£
      .prise-slider-item-wrapepr
        .prise-slider-item
          div
            h3.prise-title 1 month of individual lessons
            ul.prise-list
              li.prise-item 4 lessons of 50 minutes in a mini group
              li.prise-item 24/7 IT platform access for 28 days
              li.prise-item Individual homework assignments for each day
              li.prise-item Motivational system (certificates, gifts)
              li.prise-item Teacher control
          .prise-button-wrapper
            button.prise-button 125£
