.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
}
.logo-holder {
  display: flex;
}
.header-nav {
  display: none;
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }
}
.header-nav__item {
  padding-right: 15px;
  @include media-breakpoint-up(xl) {
    padding-right: 26px;
  }
  @include media-breakpoint-up(xxl) {
    padding-right: 50px;
  }
}
.header-nav__link {
  &:hover {
    text-shadow: 6px 6px 20px #0000007a;
  }
}
.mobile-menu-holder {
  display: flex;
  justify-content: flex-end;
  @include media-breakpoint-up(lg) {
    justify-content: space-between;
  }
}
.icon-vector {
  display: none;
  width: 15px;
  height: 10px;
  fill: none;
  @include media-breakpoint-up(lg) {
    display: inline;
  }
  @include media-breakpoint-up(xl) {
    width: 20px;
  }
}
.icon-viber {
  width: 40px;
  height: 35px;
}
.icon-burger {
  width: 40px;
  height: 24px;
}
.dropdown-nav,
.dropdown-call,
.dropdown-language {
  display: flex;
  align-items: center;
  justify-content: center;
}
.call-button-xl,
.menu-button,
.call-button,
.language-buttonbtn {
  &:after {
    display: none;
  }
}
.dropdown-nav__list.show,
.tel-list.show,
.language-list.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}
.tel-list__item,
.dropdown-nav__item,
.language-item {
  padding-top: 20px;
}
.call-button-xl {
  display: none !important;
  @include media-breakpoint-up(lg) {
    display: flex !important;
  }
  &:hover {
    box-shadow: 6px 6px 15px rgba($color: $secondary, $alpha: 50%);
  }
}
.menu-button,
.call-button {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  padding: 6px;
  border: 3px solid $secondary;
  border-radius: 20px;
  @include media-breakpoint-up(xl) {
    width: 350px;
  }
  @include media-breakpoint-up(xxl) {
    width: 350px;
  }
}
